body {
  background-color: #222831;
}

/* logo 이미지 */
#logo {
  width: 120px;
  padding: 0;
  margin: 20px 25px 10px;
}
/* 상단 메뉴바 */
#topMenu {
  position: absolute;
  top: 10%;
  right: 6%;
  width: 50%;
  font-size: 25px;
  font-family: 'Roboto Slab', serif;
}
#topMenu ul {
  margin: 0;
  list-style: none;
}
#topMenu li {
  float: right;
  /* float에 대하여 */
  padding-left: 50px;
  */
}
#topMenu a {
  color: #FFDC00;
  text-decoration: none;
}

/* 홈 페이지 컨텐츠 */

.homeContent {
  /*
  position: absolute;
  top:30%;
  left: 50%; transform: translateX(-50%); /*translateX 공부*/
  margin:50px auto;
  width:60vw;
  height: 120vh;
  text-align: center;
  background-color: #AAAAAA;
}
.homeH1 { /*홈 페이지 h1*/
  /*
  position: absolute;
  top:10%;
  left:50%; transform:translateX(-50%);
  */
  margin:0;
  padding:10vh 0;
  font-size: 100px;
  font-family: 'Big Shoulders Inline Display', cursive;
  color: #FFDC00;
}
.homeImg { /*홈 페이지 이미*/
  /*
  position: absolute;
  top:30%;
  left:50%; transform:translateX(-50%);
  */
  width: 50vw;
  margin:0;
  padding:0;
}

.homeContext { /*홈 페이지 글 문단 */
  /*
  position: absolute;
  top:75%;
  left:50%; transform:translateX(-50%);
  */
  margin:10vh auto;
  padding:0;
  width: 50vw;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: ##3D2010;
}

.footer{
  /*
  position: absolute;
  left:50%; transform:translateX(-50%);
  top:130%;
  */
  width:100vw;
  background-color:#222831;
  text-align: center;
}
.footer h1{
  font-size: 10px;
  font-weight: 100;
  color:#FFFFFF;
}
